services:

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "${SA_PASSWORD}"
      ACCEPT_EULA: "Y"
    ports:
      - "14330:1433"
    volumes:
      - sql_data:/var/opt/mssql
  healthcheck:
    test: ["CMD-SHELL", "echo 'SELECT 1' | /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P ${SA_PASSWORD} || exit 1"]
    interval: 10s
    timeout: 5s
    retries: 15
    start_period: 20s

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build:
      context: ..
      dockerfile: src/GBastos.Casa_dos_Farelos.Api/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__SqlServer: "Server=sqlserver,1433;Database=CasaDosFarelos;User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=True"
      Redis__Connection: "redis:6379"
    ports:
      - "8080:8080"
    depends_on:
      sqlserver:
        condition: service_healthy
      redis:
        condition: service_started

volumes:
  sql_data:
  
  # docker compose down -v
  # docker compose up -d --build