# version: "3.9"

services:

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD_FILE: /run/secrets/sql_password
    secrets:
      - sql_password
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - backend
    deploy:
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: on-failure

  redis:
    image: redis:7-alpine
    command: >
      sh -c "redis-server --requirepass $$(cat /run/secrets/redis_password)"
    secrets:
      - redis_password
    networks:
      - backend
    deploy:
      restart_policy:
        condition: on-failure

  api:
    image: casadosfarelos/api:latest
    secrets:
      - sql_password
      - redis_password
      - jwt_secret
      - rabbit_user
      - rabbit_password
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:8080
    ports:
      - "8080:8080"
    networks:
      - backend
    depends_on:
      - sqlserver
      - redis
    deploy:
      replicas: 3
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
      restart_policy:
        condition: on-failure

networks:
  backend:

volumes:
  sql_data:

secrets:
  sql_password:
    external: true
  redis_password:
    external: true
  jwt_secret:
    external: true
  rabbit_user:
    external: true
  rabbit_password:
    external: true